html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.githubButton {
  border-radius: 10%;
  background-color: transparent;
  border: 0px;
}

::-webkit-scrollbar {
  height: 5px; /* height of horizontal scrollbar ← You're missing this */
  width: 5px; /* width of vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(234, 234, 234,0.2);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(234, 234, 234,0.2);
}

.ce-block__content {
  margin: 0% 5%;
  max-width: fit-content;
}

.ce-block--selected {
  color: #00194a;
}

.ce-toolbar__content {
  margin: 0% 5%;
  max-width: fit-content;
}

.ce-settings {
  right: -100px;
}

.ce-toolbar__settings-btn {
  color: #99ccff;
}

.ce-toolbar__plus {
  color: #99ccff;
}

.ce-toolbox__button {
  color: #99ccff;
}

.codex-editor__redactor {
  padding-bottom: 2rem !important;
}
